/* CSS Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Main content */

h1 {
  padding: 1rem;
  margin-top: 2rem;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  font-family: "DotGothic16", sans-serif;
  font-weight: 200;
  font-style: normal;
  scroll-behavior: smooth;
}
body {
  color: white;
  background: linear-gradient(
    180deg,
    #000000 0%,
    #12000c 40%,
    #7a0048 85%,
    #ff1493 100%
  );
}

main {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: auto;
}

/* Buttons */

button {
  font-family: "DotGothic16", sans-serif;
  background-color: whitesmoke;
  font-size: 13px;
  height: 24px;
  width: 60px;
  font-weight: bolder;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

#movieButton {
  width: 200px;
}

#deleteAllBtn {
  font-family: "DotGothic16", sans-serif;
  background-color: whitesmoke;
  font-size: 13px;
  height: 24px;
  width: 120px;
}

/* Input */
#inputSect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 75 25px;
  margin-bottom: 10px;
}

#filter {
  margin-bottom: 10px;
}

#recommended {
  height: 25px;
  cursor: pointer;
}

.recommendedImg {
  height: 25px;
  cursor: pointer;
}

.watched_recommended {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

/* Card */
#cardCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: fit-content;
  padding: 20px 75px;
  margin: 10px auto;
}

.movieCont {
  width: 600px;
  display: flex;
  border: white solid 1px;
  margin: 10px;
  align-items: center;
}

.movieCont p {
  margin-left: 10px;
}

.movieCont:hover {
  display: flex;
  border: white solid 1px;
  margin: 10px;
  transform: scale(1.2);
  box-shadow: inset 0 0 20px 5px rgba(186, 95, 190, 0.6);
}

.watched_recommended {
  display: flex;
  align-items: center;
  margin-left: auto;
}
