* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
}

body {
  color: white;
  background: linear-gradient(
    180deg,
    #000000 0%,
    #12000c 40%,
    #7a0048 85%,
    #ff1493 100%
  );

  background-repeat: no-repeat;
}

#recommended {
  height: 25px;
}

.recommendedImg {
  height: 25px;
}
